/*global css*/
html{
    height: 100vh;
    width: 100vw;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #faeeff;
}


/*design mobile first*/
main{
    background-image: url(./faq-accordion-main/assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size:100vw;
}

.content{
    height: 97vh;
    width: 100vw;
    /*display: grid;*/
    /*place-items: center;*/
    position:relative;
    top: 20vh;
    left: 5vw;
}

.card-container{
    background-color: white;
    /*height: 55vh;*/
    width: 80vw;
    padding-inline: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
}

.faq-header{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

#faq-header-star{
    height: 25px;
}

.faq-header-title{
    color: hsl(292, 42%, 14%);
    font-weight: 700;
    margin: 0;
}

.accordion-toggle{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-top: 2px solid hsl(275, 100%, 97%);
    padding-top: 6%;
    padding-bottom: 6%;
}

.accordion{
    color: hsl(292, 42%, 14%);
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: white;
    text-align: left;
}

#first-panel>.accordion-toggle{
    border: none;
}

.toggle-icon{
    content: url(./faq-accordion-main/assets/images/icon-plus.svg);
}

.toggle-icon.open{
    content: url(./faq-accordion-main/assets/images/icon-minus.svg);
}

.panel{
    display: none;
    overflow: hidden;
}

.panel.show{
    display: block;
}

.panel-text{
    margin: 0;
    padding-bottom: 6%;
    color: hsl(292, 16%, 49%);
    font-weight: 400;
}

.attribution{
    text-align: center;
    font-size: 12px;
}



/*design for desktop*/
@media only screen and (min-width:768px){

}
